/*
@import url('https://fonts.googleapis.com/css?family=Roboto');
*/

/*
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
*/

/*
body {
    font-family: 'Roboto', sans-serif;
}
*/

.tabsWrapper {
    text-align: center;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif !important;
}

.tabs {
    font-family: 'Roboto', sans-serif !important;
    margin-top: 50px;
    font-size: 15px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    /*
*/
    /*
    border-radius: 50px;
*/
    position: relative;
}

.tabs a {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
}

.tabs a.active {
    color: #fff;
}

.tabs a i {
    margin-right: 5px;
}

.tabs .selector {
    display: none;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    /*
    border-radius: 50px;
    */
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
}

.tabs-content {
    display: none;
}

.tabs-content.active {
    display: block;
}