@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");

h1.timelineSimple,
h2.timelineSimple,
h3.timelineSimple,
h4.timelineSimple,
h5.timelineSimple,
h6.timelineSimple {
    font-family: "Oswald", sans-serif;
    border-bottom: unset !important;
    font-weight: unset !important;
    margin: unset !important;
}

h1.timelineSimple {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

p.timelineSimple {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}

.timelineSimpleContainer {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: unset !important;
}

.timelineSimple-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timelineSimple-item p {
    font-size: 1rem;
}
.timelineSimple-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    /* font-size: 0.785rem; */
}
.timelineSimple-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}
.timelineSimple-item:last-child {
    -o-border-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3) 60%,
            transparent
        )
        1 100%;
    border-image: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 0.3) 60%,
            transparent
        )
        1 100%;
    border-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3) 60%,
            transparent
        )
        1 100%;
}
