table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

th {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    background-color: #00297A;
    color: white;
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

tr {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

td {
    border-width: 1px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}