table {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
}

table th {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 4px 17px;
    border: 1px solid #333;
    /*background-color: #616a6b;*/
    background-color: #333;
    color: white;
    font-weight: bold;
}

table td {
    border-width: 1px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Zebra striping */

table tr:nth-of-type(odd) {
    background: #eee;
}