/* Added to make sure plus logo fits in */
td {
    height: 27px;
}

/* Button in Table - giving it some colors */

td.sorting_1::before {
    background: #007bff !important;
}

td::before {
    background: #007bff !important;
}

/* giving some spaces between tables being to close */

div.dataTables_wrapper {
    padding: 10px 10px 10px 10px;
}

button.dt-button {
    color: blue !important;
    border-radius: 5px;
    line-height: 1 !important;
}

/* Filtering at the bottom */
tfoot input {
    width: 100%;
    padding: -3px;
    box-sizing: border-box;
    font-size: 8pt;
}

/* Filtering at the top */
thead input {
    width: 100%;
    padding: -3px;
    box-sizing: border-box;
    font-size: 8pt;
}

table {
    font-size: 8pt;
}