table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
}

table td {
    border-width: 1px;
    padding: 4px;
    text-align: left;
    border-top: 1px solid #ddd;
}

table thead th {
    text-align: center;
    font-weight: bold;
    padding: 4px 17px;
    border-bottom: 1px solid #111;
    background-color: white;
    color: black;
}

table tfoot th {
    text-align: center;
    font-weight: bold;
    padding: 4px 17px;
    border-top: 1px solid #111;
    background-color: white;
    color: black;
}

table tr:nth-of-type(odd) {
    background-color: #F6F6F5;
}

table tr:nth-of-type(even) {
    background-color: white;
}

table td, table th {
    border: 1px solid black;
}