table.simplify {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    /* font-family: Roboto Condensed, Helvetica Neue, sans-serif; */
    /* font-size: 8pt;
     width: 100%;
    */

    box-sizing: border-box;
    width: calc(100% - 16px);
    margin: 8px;
}

table.simplify th {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: black;
    background-color: #616a6b;
    color: white;
    /* font-family: Roboto Condensed, Helvetica Neue, sans-serif; */
    /* font-size: 8pt; */
    font-weight: bold;
    padding: 10px;
}

table.simplify td {
    border-width: 1px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-color: black;
    /* background-color: white; */
    /* font-family: Roboto Condensed, Helvetica Neue, sans-serif; */
    /* font-size: 8pt; */
    border-top: 1px solid #ddd;
}

/* Zebra striping */
table.simplify tr:nth-of-type(odd) {
    background: #eee;
}

table.simplify th {
    background: #333;
    color: white;
    font-weight: bold;
}

table.simplify td,
table.simplify th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}