
/*
table.Simplisimo {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

th.Simplisimo {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    background-color: #00297A;
    color: white;
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

tr.Simplisimo {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

ul.Simplisimo {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

li.Simplisimo {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

td.Simplisimo {
    border-width: 1px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-color: black;
    background-color: white;
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

h2.Simplisimo {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

p.Simplisimo {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

th {
    vertical-align: top;
    text-align: left;
    padding: 2px 5px 2px 5px;
}

td {
    vertical-align: top;
    padding: 2px 5px 2px 5px;
    border-top: 1px solid #bbbbbb;
    height: 16px;
    vertical-align: middle;
}

tr.totalrow {
    border-top: thick double;
}

td.totalrow {
    vertical-align: Bottom;
    text-align: left;
    font-size: 8pt;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}


*/


body {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

hr {
    height: 4px;
    background-color: #6Cf;
    border: 0px;
    width: 100%;
}



div.pageTitle {
    font-size: 14pt;
    font-weight: bold;
    width: 100%;
    display: block;
    padding: 4px 1em 0px 2px;
    height: 2em;
}

div.clientlogo {
    border: 0px;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: 50%;
}

div.MainLogo {
    border: 0px;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    width: 50%;
}

.central {
    margin: 10px auto;
    width: 100%;
    max-width: 900px;
}

div.defaultSection {
    border: 1px solid #bbbbbb;
    padding-bottom: 0px;
    margin: 5px;
    width: calc(100% - 10px);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

div.defaultColumn {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2px;
}

.defaultContainer {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.defaultContainerOther {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.defaultPanelOther {
    flex-basis: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.defaultPanel {
    flex-basis: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.defaultCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px;
}

div.defaultHeader {
    padding: 5px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    color: #ffffff;
    background-color: #6Cf;
}

div.defaultFooter {
    padding-right: 5em;
    text-align: right;
}



td.clientlogo {
    border: 0px;
    padding-left: 0px;
    vertical-align: middle;
}

td.MainLogo {
    border: 0px;
    padding-right: 5em;
    text-align: right;
    vertical-align: middle;
}

/*

th.content {
    border-top: 1px solid #bbbbbb;
    width: 25%;
}

td.content {
    width: 75%;
}

td.groupby {
    border-top: 3px double #bbbbbb;
}
*/

.header {
    background-color: #616a6b;
    color: #f7f9f9;
}

a.alink:link {
    color: #007bff;
    text-decoration: none;
    font-size: 120%;
}

a.alink:visited {
    color: #ff8400;
    text-decoration: none;
    font-size: 120%;
}

a.alink:hover {
    text-decoration: underline;
    font-size: 130%;
}

table.sortable {
    width: calc(100% - 10px);
    margin: 5px;
    box-sizing: border-box;
    border-collapse: collapse;
    display: inline-block;
    overflow-x: auto;
    overflow-y: auto;
}

table.sortable thead {
    background-color: #eee;
    color: #666666;
    font-weight: bold;
    cursor: default;
}

/* Adding CSS */

a.paginate_button {
    color: #000000 !important;
    font-size: 10px;
}

a.current {
    color: #000000 !important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.flex-grid {
    display: flex;
}

.col {
    padding: 20px;
    margin: 1%;
    flex: 1;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #ff4136;
}

.green {
    background-color: #2ecc40;
}

div.enlighter-default {
    flex-basis: 100%;
    margin: 0 !important;
}