body {
    font-family: Roboto Condensed, Helvetica Neue, sans-serif;
    font-size: 8pt;
}

hr {
    height: 4px;
    background-color: #6Cf;
    border: 0px;
    width: 100%;
}

.defaultSection {
    border: 1px solid #bbbbbb;
    padding-bottom: 0px;
    margin: 5px;
    width: calc(100% - 10px);
}

.overflowHidden {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flexParent {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.flexParentInvisible {
    display: flex;
    justify-content: space-between;
}

.flexElement {
    flex-basis: 100%;
}

.flexPanel {
    flex-basis: 100%;
}

.roundedCorners {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px;
}

.defaultHeader {
    padding: 5px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.defaultFooter {
    padding-right: 5em;
    text-align: right;
}

.logos {
    display: flex;
}

.leftLogo {
    flex-basis: 100%;
    border: 0px;
    padding-left: 0px;
    vertical-align: middle;
}

.rightLogo {
    flex-basis: 100%;
    border: 0px;
    padding-right: 5em;
    text-align: right;
    vertical-align: middle;
}

.header {
    background-color: #616a6b;
    color: #f7f9f9;
}

a.alink:link {
    color: #007bff;
    text-decoration: none;
    font-size: 120%;
}

a.alink:visited {
    color: #ff8400;
    text-decoration: none;
    font-size: 120%;
}

a.alink:hover {
    text-decoration: underline;
    font-size: 130%;
}

a.paginate_button {
    color: #000000 !important;
    font-size: 10px;
}

a.current {
    color: #000000 !important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.flex-grid {
    display: flex;
}

.col {
    padding: 20px;
    margin: 1%;
    flex: 1;
}