h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hammersmith One', sans-serif;
    /*
    font-family: 'Questrial', sans-serif;
    */
}

h1 {
    font-size: 30px;
    line-height: 20px;
    margin: 1em 0 .6em 0;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    color: #6Cf;
    margin: 10px 10px 10px 10px;
}

h2 {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 25px;
    line-height: 20px;
    margin: 10px 10px 10px 10px;
}

h3 {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 24px;
    line-height: 20px;
    margin: 10px 10px 10px 10px;
}

h4 {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 18px;
    line-height: 16px;
    margin: 10px 10px 10px 10px;
}

h5 {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 14px;
    line-height: 16px;
    margin: 10px 10px 10px 10px;
}

h6 {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 10px;
    line-height: 12px;
    margin: 10px 10px 10px 10px;
}