.message-container {
    background-color: #ddd;
    font-family: "Source Sans Pro";
    font-weight: 300;
    box-sizing: border-box;
}

.message {
    display: table;
    position: relative;
    margin: 40px auto 0;
    max-width: 900px;
    width: 100%;
    /* background-color: #0074d9; */
    color: #fff;
    transition: all 0.2s ease;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.message.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}

.message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 20px !important;
}

.message-icon>i {
    width: 20px;
}

.message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
}

.message-body>p {
    line-height: 1.2;
    margin-top: 6px;
}

.message-body>p {
    font-family: "Source Sans Pro";
    font-size: 16px !important;
    font-weight: 300;
}

.message-button {
    position: relative;
    margin: 15px 5px -10px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: "Source Sans Pro";
    color: #fff;
    outline: none;
    cursor: pointer;
}

.message-button:hover {
    background: rgba(0, 0, 0, 0.3);
}

.message-button:active {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px rgba(0, 0, 0, 0.4);
    top: 3px;
}

.message-close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    opacity: 0;
    cursor: pointer;
}

.message:hover .message-close {
    opacity: 1;
}

.message-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.u-italic {
    font-style: italic;
}